:root {
  --darkBlue: #004e64;
  --lightBlue: #00a5cf;
  --lightGreen: #9fffcb;
  --medialGreen: #25a18e;
  --cozyGreen: #7ae582;
  --lightGrey: #ededed;
}

.App {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* Global */
.App h1 {
  font-weight: 900;
}

.App h3 {
  font-weight: bold;
  color: var(--darkBlue);
}

/* Buttons */
button {
  border: none;
  color: white;
}

.blue-btn {
  background-color: var(--lightBlue);
  padding: 0.7rem;
  border-radius: 9px;
  transition: 0.3s;
}

.blue-btn:hover {
  color: white;
  background-color: #0e8eae;
}
